<div class="news_wrapper"><div class="news"><div>
	<h3>News</h3>
	<article class="item">
		<a href="news/3">
			<div class="label">New</div>
			<img class="image" src="http://dota2.ru/img/news/t1446992917.jpg">
			<div class="content">
				<div class="inline">
					<h3 class="title">История Dota 2, с чего все начиналось</h3>
					<div class="text">Уже 5 лет прошло после того, как Valve анонсировали Dota 2, а сейчас мы уже видим, что это одна из самых известных игр в мире. Давайте же пробежимся по истории становления доты такой популярной. В этой новости мы соберем много ссылок на самые основные новости. В общем, ностальгии пост. Небольшое...</div>
					<div class="info"><span class="date">вчера в 19:09</span></div>
				</div>
			</div>
		</a>
	</article>

	<article class="item">
		<a href="news/1">
			<img class="image" src="http://dota2.ru/img/news/t1446535640.jpg">
			<div class="content">
				<div class="inline">
					<h3 class="title">Кто поедет на The Summit 4?</h3>
					<div class="text">Квалификации к четвёртому турниру, организованному студией BeyondTheSummit, подходят к концу. И уже в течение этой недели будут определены восемь команд-участниц, которые отправятся прямиком в Лос Анджелес. Турнир будет проводиться в течение четырёх дней: с 9-го по 13-е декабря текущего года...</div>
					<div class="info"><span class="date">вчера в 09:57</span></div>
				</div>
			</div>
		</a>
	</article>

	<article class="item">
		<a href="news/2">
			<img class="image" src="http://dota2.ru/img/news/t1439586200.jpg">
			<div class="content">
				<div class="inline">
					<h3 class="title">Обновление 6.85b</h3>
					<div class="text">Как и обещалось, после окончания Nanyang Dota 2 Championship вышло обновление, после которого в силу вступили изменения 6.85b. Список изменений:  Aghanim Scepter больше не увеличивает урон от ультимативной способности героя DOOM; Урон от способности Scorched Earth героя DOOM изменен с 12/24/36/48...</div>
					<div class="info"><span class="date">01 Ноя 2015 в 22:35</span></div>
				</div>
			</div>
		</a>
	</article>

</div></div></div>