<div class="news_wrapper">
    <div class="news">
        <div>
            <h3>News</h3>
            <article class="item" *ngFor="let item of news">
                <a routerLink="/news/{{item.id}}">
                    <div class="label">{{item.label}}</div>
                    <img class="image" [src]="item.img">
                    <div class="content">
                        <div class="inline">
                            <h3 class="title">{{item.title}}</h3>
                            <div class="text">{{item.descr}}</div>
                            <div class="info">
                                <span class="date">{{item.update}}</span>
                            </div>
                        </div>
                    </div>
                </a>
            </article>
        </div>
    </div>
</div>
