<div class="pick_page">

    <top-panel [(heroes)]="heroes"></top-panel>
    <div class="grid unselectable">

        <div class="heroes-group" *ngFor="let heroesGroup of heroes">
            <div class="hero" *ngFor="let hero of heroesGroup" (click)="onHeroClick(hero)">
                <div class="spriteImage {{hero.name}}" [class.selected]="hero.selected" [ngStyle]="{background: 'url(http://www.dotastyle.com/back/assets/img/heroes/vert/' + hero.id + '.jpg)'}">
                    <div class="tooltip_image" [ngStyle]="{background: 'url(http://www.dotastyle.com/back/assets/img/heroes/vert/' + hero.id + '.jpg)'}">
                        <div class="tooltip_image_name">{{hero.localized_name}}<i class="tooltip_image_type"></i></div>
                        <div class="tooltip_image_skils"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
